* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', Arial, sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
  border: 1px solid red;
}

.header {
  background-color: #fff;
  padding: 25px 0;
  border-bottom: 1px solid grey;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.logo-link {
  display: flex;
  align-items: center;

  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  text-decoration: none;
}
.pink {
  color: #f16d7f;
}
.logo-img {
  margin-right: 15px;
}

.browse {
  flex-grow: 1;
  margin-left: 40px;

  display: flex;
  align-items: center;
}
.browse-btn {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  background-color: #cdcdcc;
  background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  padding: 15px;
}

.login {
  display: flex;
  align-items: center;
}
.account {
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding: 15px;
  margin-left:25px; 
}