footer {
  margin-top: 109px;

  .footer-top {
    padding: 0px calc(50% - 570px) 93px;
    display: grid;
    grid-template-columns: 465px 200px 200px 200px;
    grid-template-rows: auto 200px;
    grid-gap: 5px 25px;

    .footer-title {
      font-size: 18px;
      line-height: 40px;
      font-weight: 700;
      letter-spacing: 0.025em;
      color: $main-color-pink;
    }
    
    .footer-text {
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      letter-spacing: 0.025em;
      color: #898989;
      padding-right: 30px;
      overflow: hidden;
    
      p {
        margin-top: 1.2em;
        margin-bottom: 1.8em;
      }
    }
    
    .footer-list {
      font-size: 16px;
      line-height: 42px;
      font-weight: 400;
      letter-spacing: 0.025em;
    
      ul {
        list-style: none;
      }
    
      a {
        text-decoration: none;
        color: #898989;
      }
    
    }
  }

  .footer-bottom {
    padding: 0px calc(50% - 570px);
    background-color: #e6e6e6;
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copy {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #7a7a7a;
    }
    
    .socials {
      list-style: none;
    
      li {
        display: inline-block;
        margin-left: 5px;
      }
    
      a {
        text-decoration: none;
        display: block;
        width: 32px;
        height: 32px;
        background-color: #ffffff;
        text-align: center;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        color: #b2b2b2;
    
        &:hover {
          background-color: $main-color-pink;
        }
    
        &:active {
          opacity: 0.29;
          background-color: #ffffff;
        }
      }
    }
  }
}